packages:
  yum:
    gcc: []
    make: []
    openssl-devel: []
    libxml2: []
    libxml2-devel: []
    krb5-devel: []
    gcc-c++: []
files:
  /opt/elasticbeanstalk/hooks/appdeploy/pre/49npm.sh:
    mode: "000775"
    owner: root
    group: root
    content: |
        #### this is equivlanet to container_command
        free -m
        sudo fallocate -l 4G /swapfile
        sudo chmod 600 /swapfile
        sudo mkswap /swapfile
        sudo swapon /swapfile
        free -m
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    group: users
    mode: "000666"
    owner: root
    content: "#no need to run npm install during configdeploy"
  /opt/elasticbeanstalk/hooks/appdeploy/pre/51npm.sh:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash

      sudo rm -rf /tmp/deployment/application/node_modules/bcrypt

      export HOME=/home/ec2-user # ADDED EXPORT COMMAND
      echo "export home" # JUST FOR REMARK

      set -xe
      free -m
      /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install
      free -m